.container {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-areas:
    "header header"
    "aside main"
    ". footer";
  height: 600px;
  grid-gap: 1em;
}

header {
  grid-area: header;
  background-color: coral;
}

main {
  grid-area: main;
  background-color: darkorchid;
}

aside {
  grid-area: aside;
  background-color: indianred;
}

footer {
  grid-area: footer;
  background-color: teal;
}
